<ul class="two-cols">
    <li class="firstcol">
        <div class="epicslider-wrapper temabanneren" style="height:262px; width:501px;">
            <div class="epicslider-container" id="epicslider-temabanneren" style="height:262px; width:501px;">

                <ul class="epicslider-list" style="width:501px;">
                    <li class="epicslider-item active-child" style="width: 100%;">
                        <a href="/lob/lobesko.html" target="" style="width: 100%;">

                            <div class="slider-image-background" style="background: url(&quot;https://www.sport24.dk/media/epicslider/5b0d2f4ea91cetema_501x262_lobesko.jpg&quot;) center center no-repeat; height: 262px; overflow: hidden;" data-attr-org-height="262" data-attr-org-width="501">
                                <div class="object-container">
                                </div>
                            </div>

                        </a>
                    </li>
                </ul>

            </div>
        </div>

        {#<script type="text/javascript">#}
            {#var slidertemabanneren = new EpicSlider($('epicslider-temabanneren') , {"sliderId":"118","slideSpeed":"99999999","showArrows":null,"showDots":null});#}
        {#</script>#}
    </li>
    <li class="bigimg">
        <div class="epicslider-wrapper temabannerto" style="height:262px; width:501px;">
            <div class="epicslider-container" id="epicslider-temabannerto" style="height:262px; width:501px;">

                <ul class="epicslider-list" style="width:501px;">
                    <li class="epicslider-item active-child" style="width: 100%;">
                        <a href="/handbold/handboldfodtoj.html" target="" style="width: 100%;">

                            <div class="slider-image-background" style="background: url(&quot;https://www.sport24.dk/media/epicslider/5b83b938ae0fctema_501x262_uge34_haandbold.jpg&quot;) center center no-repeat; height: 262px; overflow: hidden;" data-attr-org-height="262" data-attr-org-width="501">
                                <div class="object-container">
                                </div>
                            </div>

                        </a>
                    </li>
                </ul>

            </div>
        </div>

        {#<script type="text/javascript">#}
            {#var slidertemabannerto = new EpicSlider($('epicslider-temabannerto') , {"sliderId":"119","slideSpeed":"999999","showArrows":null,"showDots":null});#}
        {#</script>#}
    </li>
</ul>

<ul class="two-cols">
    <li class="firstcol">
        <div class="epicslider-wrapper temabannertre" style="height:262px; width:501px;">
            <div class="epicslider-container" id="epicslider-temabannertre" style="height:262px; width:501px;">

                <ul class="epicslider-list" style="width:501px;">
                    <li class="epicslider-item active-child" style="width: 100%;">
                        <a href="/ovrige-sportsgrene/badminton.html" target="" style="width: 100%;">

                            <div class="slider-image-background" style="background: url(&quot;https://www.sport24.dk/media/epicslider/5b83abb9592dftema_501x262_uge34_badminton.jpg&quot;) center center no-repeat; height: 262px; overflow: hidden;" data-attr-org-height="262" data-attr-org-width="501">
                                <div class="object-container">
                                </div>
                            </div>

                        </a>
                    </li>
                </ul>

            </div>
        </div>

        <script type="text/javascript">
            var slidertemabannertre = new EpicSlider($('epicslider-temabannertre') , {"sliderId":"120","slideSpeed":"999999","showArrows":null,"showDots":null});
        </script>
    </li>
    <li class="bigimg">
        <div class="epicslider-wrapper temabannerfire" style="height:262px; width:501px;">
            <div class="epicslider-container" id="epicslider-temabannerfire" style="height:262px; width:501px;">

                <ul class="epicslider-list" style="width:501px;">
                    <li class="epicslider-item active-child" style="width: 100%;">
                        <a href="/mode/modesko.html?dir=desc&amp;order=news_to_date" target="" style="width: 100%;">

                            <div class="slider-image-background" style="background: url(&quot;https://www.sport24.dk/media/epicslider/5b0d33c827f2dtema_501x262_sneakers.jpg&quot;) center center no-repeat; height: 262px; overflow: hidden;" data-attr-org-height="262" data-attr-org-width="501">
                                <div class="object-container">
                                </div>
                            </div>

                        </a>
                    </li>
                </ul>

            </div>
        </div>

        <script type="text/javascript">
            var slidertemabannerfire = new EpicSlider($('epicslider-temabannerfire') , {"sliderId":"121","slideSpeed":"999999","showArrows":null,"showDots":null});
        </script>
    </li>
</ul>