<div class="topbar">
    <ul class="logolinks">
        <li><a href="https://www.sport24.dk" target="_parent" class="sport24 active">Sport24</a></li>
        <li><a href="https://www.sport24outlet.dk/?_ga=2.229013850.73304324.1537121691-1053768987.1537121690" target="_blank" class="sport24outlet">Sport24Outlet</a></li>
        <li><a href="http://www.sport24business.dk/" target="_blank" class="sport24business">Sport24Business</a></li>
        <li><a href="http://www.sport24team.dk" target="_blank" class="sport24team">Sport24Team</a></li>
    </ul>
</div>